.node-view {
    -fx-skin: "tech.houssemnasri.impl.node.experiment.WithCostNodeSkin";
}

.node-view .container{
    -fx-padding: 2, 2, 0, 2;
}

.node-view .primary-text {
    -fx-font-size: 8px;
    -fx-fill: #222222;
}

.node-view .secondary-text {
    -fx-font-size: 5px;
    -fx-fill: #222222;
}