
.root {
    -grid-gap: 0.25px;
    -fx-font-smoothing-type: gray;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/
.slider {
    -fx-skin: "tech.houssemnasri.jmetro.SliderSkin";
}

.slider {
    -show-value-on-interaction: true;
}

.slider .thumb {
    -fx-background-insets: 0;
    -fx-background-radius: 100%; /* 6 */
    -fx-padding: 0.666em 0.666em 0.666em 0.666em; /* 12 4 12 4 */
    -fx-effect: null;
}


.slider .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.12em 0em 0.12em 0em;

}

.slider .fill {
    -fx-padding: 0.083333em; /* 1 */
}

/* disabled */
.slider:disabled {
    -fx-opacity: 0.2;
}

/* Slider popup showing its value */
.slider-popup .label {
    -fx-padding: 0.5em 0.75em 0.5em 0.75em; /* 6 9 6 9 */
    -fx-background-color: #f2f2f2;
    -fx-border-color: #cccccc;
    -fx-text-fill: #111;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button > .radio,
.radio-button:focused > .radio {
    -fx-background-radius: 100%; /* large value to make sure this remains circular */
}

.radio-button:selected > .radio .dot {
    -fx-background-insets: 1.5;
}

.radio-button .radio {
    -fx-border-radius: 100%;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.radio-button .radio .dot {
    -fx-background-radius: 100%;
    -fx-background-insets: 100;
    -fx-max-height: 100;
    -fx-max-width: 100;
    -fx-min-width: 3;
    -fx-min-height: 3;
    -fx-pref-height: 3;
    -fx-pref-width: 3;
    -fx-padding: -20;
}


/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/
.combo-box {
    -fx-border-radius: 2px;
}


/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-border-radius: 2px;
    -fx-min-width: 100px;
    -fx-font-family: "Fira Code Medium";
}

/*******************************************************************************
 *                                                                             *
 * Icon Button                                                                 *
 *                                                                             *
 ******************************************************************************/
.icon-button {
    -fx-padding: 10 10 5 10;
    -fx-content-display: top;
    -fx-font-family: "Montserrat";
    -fx-font-size: 13px;
    -fx-background-color: red;
}

/*******************************************************************************
 *                                                                             *
 * Icon                                                                        *
 *                                                                             *
 ******************************************************************************/
.icon {
    -fx-icon-size: 12px;
}


/* ====   DISABLED THINGS   ================================================= */
.label:disabled,
.button:disabled,
.toggle-button:disabled,
.radio-button:disabled,
.check-box:disabled,
.hyperlink:disabled,
.menu-button:disabled,
.split-menu-button:disabled,
.slider:disabled,
.scroll-bar:disabled,
.scroll-pane:disabled,
.progress-bar:disabled,
.progress-indicator:disabled,
.text-input:disabled,
.choice-box:disabled,
.combo-box-base:disabled,
.date-cell:disabled > *, /* This is set on children so border is not affected. */
.list-view:disabled,
.tree-view:disabled,
.table-view:disabled,
.tree-table-view:disabled,
    /*.tab-pane:disabled,  / Removed for JDK-8144983 */
.titled-pane:disabled > .title,
.accordion:disabled > .titled-pane > .title,
.tab-pane > .tab-header-area > .headers-region > .tab:disabled,
.menu:disabled,
.menu-item:disabled,
.list-cell:filled:selected:focused:disabled,
.list-cell:filled:selected:disabled,
.tree-cell:filled:selected:focused:disabled,
.tree-cell:filled:selected:disabled,
.tree-cell > .tree-disclosure-node:disabled,
.tree-table-row-cell > .tree-disclosure-node:disabled,
.table-row-cell:selected:disabled,
.tree-table-row-cell:selected:disabled,
.table-cell:selected:disabled,
.tree-table-cell:selected:disabled,
.spinner:disabled {
    -fx-opacity: 0.5;
}
