@import "base2.css";

.root {
    -theme-green-color: #8aff80;
    -theme-yellow-color: #feff80;
    -theme-blue-color: #79cbdc;
    -theme-red-color: #ff5555;
    -theme-purple-color: #9580ff;
    -theme-orange-color: #f89580;
    -theme-cyan-color: #80ffea;
    -theme-gray-color: #6272A4;
    -theme-white-black-color: #F8F8F2;

    -theme-foreground: #F8F8F2;
    -theme-accent-color: #FF79C5;
    -theme-grid-color: #282A36;
    -theme-grid-gap-color: #44475A;
    -theme-toolbox-color: #21222C;
    -theme-button-color: #393C4B;
    -theme-button-color_hover: derive(-theme-button-color, 10%);
    -theme-button-color_pressed: derive(-theme-button-color, 30%);
    -theme-button-border-color: #44475A;
    -theme-slider-track-color: #393C4B;
    -theme-slider-thumb-color: #F8F8F2;
    -theme-slider-thumb-color_hover: derive(-theme-slider-thumb-color, -10%);
    -theme-slider-thumb-color_pressed: derive(-theme-slider-thumb-color, -30%);
}