@import "base2.css";

.root {
    -theme-green-color: #91b859;
    -theme-yellow-color: #f6a434;
    -theme-blue-color: #6182b8;
    -theme-red-color: #e53935;
    -theme-purple-color: #7c4dff;
    -theme-orange-color: #f76d47;
    -theme-cyan-color: #39adb5;
    -theme-gray-color: #AABFC9;
    -theme-white-black-color: #272727;

    -theme-foreground: derive(#546E7A, -2%);
    -theme-accent-color: #00BCD4;
    -theme-grid-color: #FAFAFA;
    -theme-grid-gap-color: #272727;
    -theme-toolbox-color: #d3e1e8;
    -theme-button-color: #F3F4F5;
    -theme-button-color_hover: derive(-theme-button-color, -4%);
    -theme-button-color_pressed: derive(-theme-button-color, -8%);
    -theme-button-border-color: #E7E7E8;
    -theme-slider-track-color: #546E7A;
    -theme-slider-thumb-color: #F8F8F2;
    -theme-slider-thumb-color_hover: derive(-theme-slider-thumb-color, -4%);
    -theme-slider-thumb-color_pressed: derive(-theme-slider-thumb-color, -8%);

}