
.root {
    -grid-gap: 0.25px;
    -fx-font-smoothing-type: gray;

    -theme-background: #FAFAFA;
    -theme-foreground: #546E7A;
    -theme-text: #94A7B0;
    -theme-selection-background: #80CBC440;
    -theme-selection-foreground: #546e7a;
    -theme-buttons: #F3F4F5;
    -theme-second-background: #FFFFFF;
    -theme-disabled: #D2D4D5;
    -theme-contrast: #EEEEEE;
    -theme-active: #E7E7E8;
    -theme-border: #d3e1e8;
    -theme-highlight: #E7E7E8;
    -theme-tree: #80CBC440;
    -theme-notifications: #eae8e8;
    -theme-accent-color: #00BCD4;
    -theme-excluded-files-color: #CCD7DA50;
    -theme-green-color: #91b859;
    -theme-yellow-color: #f6a434;
    -theme-blue-color: #6182b8;
    -theme-red-color: #e53935;
    -theme-purple-color: #7c4dff;
    -theme-orange-color: #f76d47;
    -theme-cyan-color: #39adb5;
    -theme-gray-color: #AABFC9;
    -theme-white-black-color: #272727;
    -theme-error-color: #e53935;
}

.source-node {
    -fx-background-color: -theme-yellow-color;
}

.destination-node {
    -fx-background-color: -theme-cyan-color;
}

.basic-node {
    -fx-background-color: -theme-background;
}

.wall-node {
    -fx-background-color: -theme-purple-color;
}

.open-node {
    -fx-background-color: -theme-green-color;
}

.closed-node {
    -fx-background-color: -theme-error-color;
}

.path-node {
    -fx-background-color: -theme-orange-color;
}

.grid {
    -fx-shadow-color: derive(-theme-background, -25%);
    -fx-effect: innershadow(three-pass-box, -fx-shadow-color, 15, 0, 2, 5);
    -fx-background-color: -theme-white-black-color;
    -fx-hgap: -grid-gap;
    -fx-vgap: -grid-gap;
    -fx-snap-to-pixel: false;
    -fx-padding: 0.25;
}

.toolbox {
    -fx-background-color: -theme-border;
}


.toolbox-label {
    -fx-font-family: "Raleway Medium";
    -fx-font-size: 14px;
    -fx-text-fill: -theme-foreground;
}

.toolbox-player-button {
    -fx-text-fill: -theme-foreground;
    -fx-padding: 10 10 5 10;
    -fx-content-display: top;
    -fx-font-family: "Montserrat";
    -fx-font-size: 13px;
    -fx-background-color: #00000000;
}

.toolbox-player-button:hover {
    -fx-background-color: derive(-theme-border, 8%);
}

.toolbox-player-button:pressed {
    -fx-background-color: derive(-theme-border, 12%);
}


.toolbox-player-icon {
    -fx-icon-color: -theme-foreground;
    -fx-icon-size: 12px;
}

.toolbox-tool-button {
    -fx-background-color: -theme-buttons;
    -fx-border-color: -theme-active;
    -fx-border-radius: 2px;
    -fx-text-fill: -theme-foreground;
    -fx-min-width: 100px;
    -fx-font-family: "Fira Code Medium";
}

.toolbox-tool-button:hover {
    -fx-background-color: -theme-active;
}

.toolbox-tool-button:pressed {
    -fx-background-color: derive(-theme-active, 15%);
}

.toolbox-tool-combobox {
    -fx-background-color: -theme-buttons;
    -fx-border-color: -theme-active;
    -fx-border-radius: 2px;
}

.toolbox-tool-combobox:hover {
    -fx-background-color: -theme-active;
}

.toolbox-tool-combobox:pressed {
    -fx-background-color: derive(-theme-active, 15%);
}

.toolbox-tool-combobox .arrow {
    -fx-background-color: -theme-foreground;
}

.toolbox-tool-combobox .list-cell:selected{
    -fx-text-fill: -theme-foreground;
}